<% include ../partials/header %> 

<h1>Whole reservations</h1>

<input id="searchInput" type="text" placeholder="Search..">
<select id="typeReservation">
    <option value="All">All</option>
    <option value="Incoming">Incoming</option>
</select>

<a href="/reservations/new" class="btn btn-primary">Add reservation</a>
<a class="btn btn-primary">Delete room</a>

<div class="container" id="myTable">
    <% reservations.forEach(function(reservation){ %>
        <div class="row visible">
            <div class="col">
                <%= reservation.topic.topicName %>
            </div>
            <div class="col">
                <%= reservation.username %>
            </div>
            <div class="col">
                <%= reservation.start %>
            </div>
            <div class="col" id="end">
                <%= reservation.end %>
            </div>
            <div class="col">
                <a class="btn btn-success" href="/reservations/<%= reservation.reservationId %>">See details</a>
            </div>  
        </div>    
    <% }); %>
</div>

    


<% include ../partials/footer %> 