<% include ../partials/header %> 

<h1 class="title">List of users</h1>
<hr>

<div class="topButtons">
    <input id="searchInput" type="text" placeholder="Search..">
    <a href="/users/new" class="btn btn-dark" id="addUser">Add user</a>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table" id="myTable">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Company</th>
            <th scope="col">Job title</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <% i = 1 %>
            <% users.forEach(function(user){ %>
                <tr>
                    <th scope="row"><%= i %></th>
                    <td><%= user.name %></td>
                    <td><%= user.surname %></td>
                    <td><%= user.company.name %></td>
                    <td><%= user.jobTitle.jobName %></td>
                    <td><a class="btn btn-success" href="/users/<%= user.id %>">See details</a></td>
                </tr>
            <% i++; %>
            <% }); %>
        </tbody>
    </table>
</div> 
    
<% include ../partials/footer %> 