<% include ../partials/header %> 


<div class="container">
    <h1>Create new user!</h1>
    <div class="row">
        <div>
            <form action="/users" method="POST">
                <div class="form-group">
                    <input class="form-control" required type="text" name="username" placeholder="username" value="<% if(typeof oldValues !== "undefined"){ %><%= oldValues.username%><% } %>">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="text" name="name" placeholder="name" value="<% if(typeof oldValues !== "undefined"){ %><%= oldValues.name %><% } %>">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="text" name="surname" placeholder="surname" value="<% if(typeof oldValues !== "undefined"){ %><%= oldValues.surname %><% } %>">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="text" name="street" placeholder="street" value="<% if(typeof oldValues !== "undefined"){ %><%= oldValues.street %><% } %>">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="text" name="houseNumber" placeholder="house number" value="<% if(typeof oldValues !== "undefined"){ %><%= oldValues.houseNumber %><% } %>">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="text" name="city" placeholder="city" value="<% if(typeof oldValues !== "undefined"){ %><%= oldValues.city %><% } %>">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="text" name="country" placeholder="country" value="<% if(typeof oldValues !== "undefined"){ %><%= oldValues.country %><% } %>">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="email" name="email" placeholder="email" value="<% if(typeof oldValues !== "undefined"){ %><%= oldValues.email %><% } %>">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="tel" pattern="[0-9]{9}" maxlength="9" name="phoneNumber" placeholder="phone number" value="<% if(typeof oldValues !== "undefined"){ %><%= oldValues.phoneNumber %><% } %>">
                </div>
                <h1>Job</h1>
                <div class="form-group">
                    <input class="form-control" required type="text" name="companyName" placeholder="company name" value="<% if(typeof oldValues !== "undefined"){ %><%= oldValues.companyName %><% } %>">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="text" name="jobTitleName" placeholder="job title" value="<% if(typeof oldValues !== "undefined"){ %><%= oldValues.jobTitleName %><% } %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">
                        Create user!
                    </button>
                    <input class="form-control" type="reset">
                </div>
            </form>
            <a href="/rooms">Go back...</a>
        </div>
    </div>
</div>


<% include ../partials/footer %> 
